
#wrapper{
    width: 1000px;
    height:auto;
    background: red;
    margin:0 auto; 

   
}
header {
    background-color: #ADD8E6;
    text-align: center;
    padding: 1px;
    font-size: 20px;
    color:red;
}
header h2{
    margin-bottom: 0px;
}
header p{
    margin-top: 10px;
    margin-bottom: 7px;
}

#menu{
    float: left;
    width: 250px;
    height:auto;
    background-color: aqua;
    padding: 1px;
    display: block;
    margin-top:4px;
    border-bottom: 1px solid white; 

}
#menu h3{
    margin-top:0px;
    font-size: 15px;
    line-height:25px ;  text-align: center;  background: lightgreen;
    border-bottom: 1px solid white;  
}
#nav{
    overflow: hidden;
    padding: 1px;
}
#nav ul{
    list-style-type: none;
    padding: 3px;
    width: 19.5em;
}
#nav ul{
    float: left;
    margin-top: 5px;
}
#nav ul a{
    padding: .5em;
    background-color: #CD853F;
    border: 1px solid black;
    border-radius: .5em;
    margin: .25em;
}
#nav ul a:hover{
    color: #fc6;
    border-color: #008000;
}

#Right{
    width: 740px;
    height: 620px;
    border: 1px solid black;
    float: right;
    margin-top: 4px;
    margin-right: 3px;
    text-align: justify;
    overflow: scroll;
}
#Right p{
    padding: 0px 20px;
    font-size: 18px;
    text-align: justify;
   
}
#Right b{
    margin-left: 240px; 
  margin-top: 5px;
  font-size: 20px;
}
#Right h3{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
}
#Right img{
    width: 500px;
    height:300px;
    margin-bottom:5px;
    margin-top: 10px;
}






#Right  #contend
{
    width: 80%;
    height: auto;
    background-color:#e7ecec;
 
}

table, th, td {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 8px;
}
#Right table tr td a{
    font-size:15px;
  
}



#box{
    float: left;
    width: 250px;
    height:auto;
    display: block;
    background-color: aqua;
   margin-top:4px;

}
#box h4{
    margin-top:0px;
    font-size: 15px;
    height:25px; line-height:25px;  text-align: center;  background: lightgreen;
    border-bottom: 1px solid white;  border-radius: 20px;
    margin-top: 5px;
}
h4{
    animation-direction: alternate; animation-timing-function: linear;      position:relative;  animation:nhấpnháy 1s infinite;
}
@keyframes nhấpnháy {
    0%   {left:0px;color: rgb(255,20,147)}
    25%   {left:0px;color: #CD853F}
    50%  {left:0px;color: mediumpurple}
    75%   {left:0px;color:#008000}
    100% {left:0px;color: rgb(247, 14, 14)}}

.box1{
    font-size: 15px;
    height:20px;
    line-height:25px;
    text-align:left; 
    background: #A9A9A9;
    border-radius: 10px 0px;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.box1 a:hover{
    color: red;
}
.box1 b{
    float: right;
    margin-right: 5px;
}





